img {
    display: block;
    object-fit: cover;
}

.blog-page {
    color: #bdbdbd;
    min-height: 100vh;
    padding: 6rem 8rem;
}

li {
    cursor: pointer;
}

@media (max-width: 800px) {
    .adjustPadding {
      padding: 6rem 3rem;
    }
  }