.blog-container {
    width: 100%;
    height: 80vh;
    display: grid;
    row-gap: 8px;
    grid-template-rows: 15% 15% 70%;
    grid-template-columns: 40% 30% 10% 20% ;
    grid-template-areas: 'tl . . . '
        'pg pg . .'
        'ps ps ps .';
}

.blog-detail {
    grid-area: pg;
}

@media (max-width: 800px) {
    .flexDisplay {
      display: flex;
      flex-direction: column;
      padding: 2rem 0;
      gap: 2rem;
    }
  }