img {
    display: block;
    object-fit: contain;

}
h2 {
    font-weight: 300;
}
p {
    text-wrap: wrap;
    overflow-wrap: break-word;
}

.blog-page {
    color: #bdbdbd;
    min-height: 100vh;
    padding: 5rem 12rem;
    display: grid;
    grid-auto-rows: max-content;
    column-gap: 5px;
    grid-template-areas: 'cat'
        'po';
    align-items: center;
    /* justify-content: center; */
}

.categories {
    grid-area: cat;
    padding: 2rem 0;
    font-weight: 400;
    cursor: pointer;
}



.blog-posts {
    grid-area: po;
    min-height: 80vh;

    display: grid;
    gap: 1rem;
    grid-template-columns: 50% 50%;
    grid-auto-rows: max-content;

}

.post {
    border: solid 1px #3d3c4b;
    border-radius: .4rem;
    overflow: hidden;

    height: 75vh;

    display: grid;
    grid-template-rows: 50% 50%;
    grid-auto-columns: auto;
    grid-template-areas: 'ig'
        'det';
}
.post:hover {
    box-shadow: rgba(0, 0, 0, .9) 0px 8px 18px 3px;
    background-color: rgb(61, 60, 75, 0.1);
}
.post-image {
    grid-area: ig;

    max-width: 100%;
}

.post-detail {
    grid-area: det;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.post-date {
    padding: .5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.list {
    display: flex;
    gap: 1rem;
    text-decoration: none;
    list-style: none;
}

.quill--share {
    display: inline-block;
    text-align: center;
    width: .4em;
    height: .4em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 17v8a2 2 0 0 0 2 2h18a2 2 0 0 0 2-2v-8m-11 3V3.5M22 9l-6-6l-6 6'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }