.nav {
    padding: 1rem 10rem;
    /* width: 1000px; */
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    border-bottom: solid #3d3a4b 0.5px;
    background-color: hsla(0, 0%, 27%, 0.1);

}

.navigate {
    display: flex;
    gap: 2rem;
}

.nav-i {
    font-size: 36px;
}
.active {
    color: #f4f5fa;
}