

.page-container {
    grid-area: pr;
    margin: 2rem 8rem;
    /* padding: 0; */
    display: grid;
    row-gap: 2rem;
    grid-template-rows: max-content;
    grid-auto-columns: auto;
    /* grid-template-columns: 100%; */
    grid-template-areas: 'hdPr'
        'picPr'
        'vwPr'
        'tcPr';
}
.head-project h2 {
    text-transform: none;
}
.head-project {
    text-transform: none;

    grid-area: hdPr;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-project {
    grid-area: picPr;
    width: 10rem;
    
    display: flex;
}

.image-project img {
    border-radius: 0.4rem;
    width: 50rem;
}

.sec {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.overview-project {
    grid-area: vwPr;
    padding-right: 8rem;
    
}

.tec-project {
    grid-area: tcPr;
}

.url-container {
    border-radius: 0.2rem;
    border: solid .8px #3d3c4b;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.url-container:hover {
    box-shadow: rgba(0, 0, 0, .9) 0px 8px 18px 3px;
    background-color: rgb(61, 60, 75, 0.1);
}

.pr-page-title {
    text-transform: uppercase;
    font-weight: 500;
}

.project-url {
    font-size: large;
    margin: 0.2rem 0.4rem;
}

.technology-list {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.tech-container {
    width: fit-content;
    justify-content: center;

}

.each-tech {
    /* background-color: rgb(61, 60, 75, 0.3); */
    background-color: rgba(0, 0, 0, 0.4);
    border: solid 0.01rem hsla(244, 11%, 26%, 0.4);

    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;


}