#root {
  width: 100%;
} 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 500ms cubic-bezier(.45,.05,.55,.95);
  scroll-behavior: smooth;
  
}
.pag {
  color: #bdbdbd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 8rem;
  padding-bottom: 2rem;
  
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
}
h3 {
  font-size: 24px;
  font-weight: 400;
}
h4 {
  font-size: 16px;
  font-weight: 300;
}

p {
  font-size: 16px;
  font-weight: 300;
}

span {
  font-size: 64px;
}


.footer-container {
  
  margin-top: 4rem;
  border-top: solid #3d3a4b 0.5px;
  background-color: hsla(0, 0%, 27%, 0.1);

  height: 12rem;
  width: 100%;

  padding: 1rem 8rem;

  align-content: center;
}

@media (max-width: 800px) {
  .smallPadding {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}